.color{
    border: solid 1px black;
    display: inline-block;
}
#black{
    background-color: black;
    
}
#yellow{
    background-color: yellow;
    
}
#orange{
    background-color: orange;
    
}
#pink{
    background-color: pink;
    
}